<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Добавить сообщение</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Добавить</button>
</form>
{% for message in messages %}
    <div style="padding: 10px; border: 1px solid black; margin-bottom: 15px; max-width: 200px">
        <p>{{ message.title }}</p>
        <p>{{ message.message }}</p>
        <p>{{ message.category.name }}</p>
    </div>
{% endfor %}
</body>
</html>